@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');

body {
  margin: 0;
}

.Bold {
  font-weight: 700;
  font-style: italic;
}



/* ---------------------------------- Page: HOME-START ---------------------------------- */

.Home-Start {
  position: relative;
  height: 917px;
  background-color: red;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.Presentation-Container {
  
  position: absolute; 
  z-index: 2; 
  color: white;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 20rem; 
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  width: 950px;
}

.Bonjour {
  font-style: bold;
  font-size: 1.2rem;
  text-indent: 0rem;

}

.Presentation-detail {
  font-style: italic;
  text-indent: 0rem;
}

.Presentation-Text-Container {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;

}


.Home-Start img {
  height: 917px;
  width: 100%;
  object-fit: cover; 
  position: absolute; 
  left: 0;
}

.Home-Start h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.Cursor {
  opacity: 0;
  transition: opacity 0.5s;
}

.Cursor-active {
  opacity: 1;
}

.Cursor-active {
  animation: blink-cursor 1s steps(5, start) infinite;
}

.Presentation-Text {
  position: relative;
  font-size: 2.5rem;
}

.Text-to-Show {
  visibility: visible;
  z-index: 2;
}

.Text-hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap; 
}


@keyframes blink-cursor {
  from {
    opacity: 1;
  }  
  to {
    opacity: 0;
  }  
}  


/* ---------------------------------- Page: HEADER ---------------------------------- */

.Header {
  border: solid black 1px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  font-size: 1.15rem;
  font-weight: 700;

  height: 50px;

}

.Navbar {
  

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.Navbar-Item {
  color: black;
  text-decoration: none;
  transition: color 0.5s;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Navbar-Item:hover {
  color: white;
  background-color: black;
}

/* ---------------------------------- Page: Bio ---------------------------------- */

.Bio {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Bio-Container {
  background-color: #F5F5F5 ;
  width: 93%;
  height: auto;
  margin-top: 50px;
  
}

.Bio-Title {
  
  position: relative; 
  font-family: 'Votre police de caractères', sans-serif; 
  color: #666; 
  text-align: center; 
  margin-top: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  
}

.BackgroundTitle {
  font-size: 7rem; 
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1); 
  position: absolute;
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%); 
  margin: 0;
  z-index: 1; 
}

.Bio-Rep {
  z-index: 2; 
  font-size: 2rem; 
  color: #333; 

}

.Bio-Text {
  font-family: 'Playfair Display', serif;
  padding: 10rem;
  padding-top: 170px;
  font-size: 21px;
  text-indent: 50px;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ---------------------------------- Page: PORTFOGLIO ---------------------------------- */

.Portfolio {
  padding-top: 70px ;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.Portfolio-BackText {
  font-size: 7rem; 
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1); 
  position: absolute;
  left: 50%;
  top: 14%; 
  transform: translate(-50%, -50%); 
  margin: 0; 
  z-index: 1; 
}


.Portfolio-Rep {
  padding: 2rem;
  font-size: 40px;
}


.Portfolio-Container {
  z-index: 2;
  position: relative;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  background-color: #F5F5F5 ;
  width: 85%;
  height: auto;

}

.Portfolio-Project-Container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  

}

.Portfolio-Project {
  box-shadow: 0 6px 16px 0 rgba(0,0,0,0.3); 
  border: solid rgba(0, 0, 0, 0.212) 1px;
  height: 200px;
  width: 500px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 2.5rem;
  transition: transform 0.5s, box-shadow 1s;
  font-size: 18px;
  position: relative; 
  overflow: hidden;
  cursor: pointer;
  background-color: white;


}



.Portfolio-Project:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.473); 
}


.Project-Content {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;

  z-index: 2; 
  transition: opacity 0.3s;
}

.Project-Content img {
  width: 70px;
}

.Project-Hover {
  padding: 0.5rem;
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  display: flex; 
  justify-content: center;
  align-items: center;
  opacity: 0; 
  transition: opacity 0.3s; 
  z-index: 1; 
}

.Portfolio-Project:hover .Project-Content {
  opacity: 0.3; /* Rendre le contenu moins visible lors du survol */
}

.Portfolio-Project:hover .Project-Hover {
  opacity: 1; /* Rendre le texte de survol visible */
}

.Project-Title {
  font-size: 1.1rem;
  font-weight: 700;
}

/* ---------------------------------- Page: Skill ---------------------------------- */
.Skill {
  
  height: 200px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2rem;
}

.Skill-List-Container {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

}


.Skill-Logo-Container img {
  padding: 0.2rem;
  height: 50px;
  width: 50px;
  border: solid rgba(0, 0, 0, 0.644) 1px;
  border-radius: 50%;
  transition: transform 1s, box-shadow 1s; 
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.5); 
}

.Skill-Logo-Container img:hover {
  transform: rotate(360deg);
}




.Skill-Title, .Skill-Container-Title {
  font-family: 'Kenia', sans-serif;
}

.Skill-Title {
  padding: 1rem;
  font-size: 1.8rem;
  border-bottom: solid black 1px;
}

.Skill-Container-Title {
  font-size: 1.3rem;
}

/* ---------------------------------- Page: CONTACT ---------------------------------- */


.Contact {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.Contact-Title-Container {
  height: 450px;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.Contact-Title{
  z-index: 2; 
  font-size: 2.5rem; 

  color: #333; 


}

.Contact-Title-Background {
  font-size: 7rem; 
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1); 
  position: absolute; 
  left: 50%; 
  top: 48%;
  transform: translate(-50%, -50%); 
  margin: 0; 
  z-index: 1; 
  width: 80rem;

}

.Contact-Container {
  padding: 5rem;

  background-color: #F5F5F5 ;
  width: 83.25%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Contact-Container input {
  height: 30px;
  border: solid black 1px;
}

.Contact-Container textarea {
  padding: 1rem;
  border-radius: 1.5rem;
  height: 300px;
  width: 750px;
}



.Contact-Entete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
}

.Form-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  
}


/* ---------------------------------- Page: CV ---------------------------------- */
.Download-CV {
  z-index: 500;
  position: fixed;
  bottom: 8px;
  right: 1450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  background-color: white;
  border: solid rgba(0, 0, 0, 0.226) 1px;
  padding: 1rem;
  border-radius: 3rem;
  transition: transform 0.5s;
  box-shadow: 0 6px 16px 0 rgba(0,0,0,0.3);
  
}

.Download-CV:hover {
  transform: scale(1.1);
}

/* ---------------------------------- Page: HEADER ---------------------------------- */
/* ---------------------------------- Page: HEADER ---------------------------------- */
/* ---------------------------------- Page: HEADER ---------------------------------- */
/* ---------------------------------- Page: HEADER ---------------------------------- */
/* ---------------------------------- Page: HEADER ---------------------------------- */
/* ---------------------------------- Page: HEADER ---------------------------------- */



.upBtn {
  z-index: 5000;
  position: fixed; 
  bottom: 20px;    
  right: 20px;     
  cursor: pointer; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out
}

.upBtn img {
width: 50px;
}


.upBtn.visible {
  opacity: 1;
}








.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:1;
  overflow:hidden;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#f1f1f1;
  border-radius:50%;
  opacity:0.1;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}