@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');

body {
  margin: 0;
}

.Bold {
  font-weight: 700;
  font-style: italic;
}

.navbarToggleBtn {
  display: none; /* Cache le bouton sur desktop */
}

.mobileNavBar {
  display: none;
}
.Site-Link {
  z-index: 500;
  color: white;
}

.Project-Text {
  font-size: 0.9rem;
}
.Project-Hover {
  z-index: 100;
}

.Responsive {
  display: none;
}

/* ---------------------------------- Page: HOME-START ---------------------------------- */

.Cv-Photo {
  height: 22rem !important;
  width: 18rem !important;
  
  margin-left: 65rem !important;
  border-radius: 50% !important;
  object-fit: cover !important;
  border: solid rgba(0, 0, 0, 0.411) 1px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
  
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.Home-Start {
  position: relative;
  height: 917px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.Presentation-Container {
  
  position: absolute; 
  z-index: 2; 
  color: white;
  padding: 1rem;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  min-width: 20rem; 
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  width: 75%;
}

.Bonjour {
  font-style: bold;
  font-size: 1.8rem;
  text-indent: 0rem;
  letter-spacing: 4px;


}

.Presentation-detail {
  font-style: italic;
  text-indent: 0rem;
  letter-spacing: 1px;
  font-size: 1rem;

}

.Presentation-Text-Container {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;

}


.Home-Start img {
  height: 917px;
  width: 100%;
  object-fit: cover; 
  position: absolute; 
  left: 0;
}

.Home-Start h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.Cursor {
  opacity: 0;
  transition: opacity 0.5s;
}

.Cursor-active {
  opacity: 1;
}

.Cursor-active {
  animation: blink-cursor 1s steps(5, start) infinite;
}

.Presentation-Text {
  position: relative;
  font-size: 3.5rem;
}

.Text-to-Show {
  visibility: visible;
  z-index: 2;
  letter-spacing: 4px;
}

.Text-hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap; 
}


@keyframes blink-cursor {
  from {
    opacity: 1;
  }  
  to {
    opacity: 0;
  }  
}  


/* ---------------------------------- Page: HEADER ---------------------------------- */

.Header {
  border: solid black 1px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  font-size: 1.15rem;
  font-weight: 700;

  height: 50px;

}

.Navbar {
  

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.Navbar-Item {
  color: black;
  text-decoration: none;
  transition: color 0.5s;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Navbar-Item:hover {
  color: white;
  background-color: black;
}

.Dl-Logo {
  height: 1rem;
  border-radius: 1rem;
  
}

.Item-Cv {

  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

/* ---------------------------------- Page: Bio ---------------------------------- */

.Bio {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Bio-Container {
  background-color: #F5F5F5 ;
  width: 93%;
  height: auto;
  margin-top: 50px;
  
}

.Bio-Title {
  
  position: relative; 
  font-family: 'Votre police de caractères', sans-serif; 
  color: #666; 
  text-align: center; 
  margin-top: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  
}

.BackgroundTitle {
  font-size: 7rem; 
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1); 
  position: absolute;
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%); 
  margin: 0;
  z-index: 1; 
}

.Bio-Rep {
  z-index: 2; 
  font-size: 2rem; 
  color: #333; 

}

.Bio-Text {
  font-family: 'Playfair Display', serif;
  padding: 10rem;
  padding-top: 170px;
  font-size: 21px;
  text-indent: 50px;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #2b2b2be1;
}

/* ---------------------------------- Page: PORTFOGLIO ---------------------------------- */

.Portfolio {
  padding-top: 70px ;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.Portfolio-BackText {
  font-size: 7rem; 
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1); 
  position: absolute;
  left: 50%;
  top: 15%; 
  transform: translate(-50%, -50%); 
  margin: 0; 
  z-index: 1; 
}


.Portfolio-Rep {
  padding: 2rem;
  font-size: 40px;
}


.Portfolio-Container {
  z-index: 2;
  position: relative;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  background-color: #F5F5F5 ;
  width: 85%;
  height: auto;

}

.Portfolio-Project-Container {
  padding: 5rem;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  

}

.Portfolio-Project {
  box-shadow: 0 6px 16px 0 rgba(0,0,0,0.3); 
  border: solid rgba(0, 0, 0, 0.212) 1px;
  height: 200px;
  width: 500px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 2.5rem;
  transition: transform 0.5s, box-shadow 1s;
  font-size: 18px;
  position: relative; 
  overflow: hidden;
  cursor: pointer;
  background-color: white;


}



.Portfolio-Project:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.473); 
}


.Project-Content {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;

  z-index: 2; 
  transition: opacity 0.3s;
}

.Project-Content img {
  width: 70px;
}

.Project-Hover {
  padding: 0.5rem;
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  display: flex; 
  justify-content: center;
  align-items: center;
  opacity: 0; 
  transition: opacity 0.3s; 
  z-index: 1; 
  font-family: 'Playfair Display', serif;

}

.Portfolio-Project:hover .Project-Content {
  opacity: 0.3; 
}

.Portfolio-Project:hover .Project-Hover {
  opacity: 1; 
}

.Project-Title {
  font-size: 1.1rem;
  font-weight: 700;
  font-family: 'Playfair Display', serif;

}

/* ---------------------------------- Page: Skill ---------------------------------- */


.Skill-Container-Title{
  font-size: 1.5rem;
}

.Skill-Title {
  padding-top: 2rem;

  font-size: 2.2rem;
  padding-bottom: 1rem;
  border-bottom: solid rgba(0, 0, 0, 0.308) 1px;
}

.Skill-2 {
  height: 100%;
  width: 90%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;

}
  
.Skill-List-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8rem;
  font-family: 'Playfair Display', serif;

}



.Skill-Logo-Container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.Skill-Logo-Container img {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 2rem;
  object-fit: contain; 
  border: solid rgba(0, 0, 0, 0.664) 0.1px;
  background-color: white;
  
}

.Skill-Category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;

}

.Skill-Scrolling-Content {
  display: flex;
  flex-direction: row;
  gap: 15px;
  animation-fill-mode: forwards;
  animation: scroll 40s linear infinite;
  
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(calc(-150% - 1.7rem));
  }
}

.Skill-Scrolling-Container {

  overflow: hidden;
  max-width: 250px; 
  mask: linear-gradient(to right, transparent, white 10px, white 90%, transparent);
  -webkit-mask: linear-gradient(to right, transparent, white 10px, white 90%, transparent);
}

.Skill-Name {
  font-size: 0.8rem;
}


/* ---------------------------------- Page: CONTACT ---------------------------------- */


.Contact {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Contact-Title-Container {
  height: 450px;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.Contact-Title{
  z-index: 2; 
  font-size: 2.5rem; 

  color: #333; 


}

.Contact-Title-Background {
  font-size: 7rem; 
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1); 
  position: absolute; 
  left: 50%; 
  top: 48%;
  transform: translate(-50%, -50%); 
  margin: 0; 
  z-index: 1; 
  width: 80rem;

}

.Contact-Container {
  padding: 5rem;

  background-color: #F5F5F5 ;
  width: 83.25%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Contact-Container input {
  height: 30px;
  border: solid black 1px;
  flex-grow: 1;
  border-radius: 1rem;

}

.Contact-Container textarea {
  padding: 1rem;
  border-radius: 1.5rem;
  height: 300px;
  width: 750px;
}



.Contact-Entete {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.Form-Container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
 
}

.Contact-Email-Container, .Contact-Subject-Container, .Contact-Message-Container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;

}

.Label-Form {
  width: px;
  gap: 1rem;
  
}

.Form-Title {
  width: 100px;
  font-family: 'Playfair Display', serif;
  font-size: large;

}



.send-Mail-Container {
 align-self: flex-end;
}

/* ---------------------------------- Page: CV ---------------------------------- */
.Download-CV {
  z-index: 500;
  position: fixed;
  bottom: 10px;
  left: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: solid rgba(0, 0, 0, 0.226) 1px;
  padding: 0.55rem;
  border-radius: 3rem;
  transition: transform 0.5s;
  box-shadow: 0 6px 16px 0 rgba(0,0,0,0.3);
}

.Download-CV-Logo {
  width: 100%; 
  height: auto; 
  
}

.Download-CV-Text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000c4; 
  z-index: 10; 
  font-size: 19px; 
  font-weight: bold;
  pointer-events: none; 
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Modal-content {
  background: white;
  padding: 50px;
  border-radius: 5px;
  text-align: center;
  pointer-events: all; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;


}

.Modal-Btn-Container {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

.Download-CV:hover {
  transform: scale(1.1);
}

/* ---------------------------------- Page: MODAL CV ---------------------------------- */
.Modal-Btn {
  border: solid rgba(0, 0, 0, 0.199) 1px;
  padding: 1rem;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Modal-Btn button {
  cursor: pointer;
  
}

.Modal-Text {
  color: #000000ce;
  padding: 1.5rem;
}

/* ---------------------------------- Page: BUTTON ---------------------------------- */

button {
  border-radius: 5rem;

  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  width: 150px;
  border: white 1px solid;
  box-shadow: 0px 0px 5px 1px #be9f7893;
  transition: transform 1s; /* Applique la transition au transform pour la taille */
}

button {
  background: white;
  transition: transform 0.4s, box-shadow 0.4s; /* Mise à jour de la propriété de transition */
}

button:hover {
  transform: scale(1.1); /* Correction pour l'agrandissement */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.788)t du box-shadow */
}

.Modal {
  cursor: auto;
}
/* ---------------------------------- Page: HEADER ---------------------------------- */
/* ---------------------------------- Page: HEADER ---------------------------------- */
/* ---------------------------------- Page: HEADER ---------------------------------- */
/* ---------------------------------- Page: HEADER ---------------------------------- */



.upBtn {
  z-index: 5000;
  position: fixed; 
  bottom: 20px;    
  right: 20px;     
  cursor: pointer; 
  opacity: 0;
  transition: opacity 0.3s ease-in-out
}

.upBtn img {
width: 50px;
}


.upBtn.visible {
  opacity: 1;
}








.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:1;
  overflow:hidden;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#f1f1f1;
  border-radius:50%;
  opacity:0.1;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}



/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------- MOBILE ---------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */

/*
@media screen and (max-width: 768px) {

  .App {
    overflow: hidden;
  }

  .Navbar {
    display: none;
  }

  .navbarToggleBtn {
    display: block; 
    position: fixed;
    top: 14.5px;
    right: 17px;
    z-index: 100;
    border: solid black 1px;
    padding: 0.25rem;
    border-radius: 20%;
    background-color:rgba(255, 255, 255, 0.788);
  }


.Mobile-Navbar {
  z-index: 500;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 8vh;
  background-color:rgba(255, 255, 255, 0.925) ;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px rgba(0, 0, 0, 0.425) solid;
  animation: slideInFromRight 0.4s forwards; /* Durée de l'animation */


/*
@keyframes slideInFromRight {
  from {
    transform: translateX(100%); 
  }
  to {
    transform: translateX(0);
  }
}

.mobileNavbar-entering {
}

.Item-X img, .navbarToggleBtn img {
  height: 20px;
}





  .Home-Start {
    height: 100vh;
    width: 100%;
    
  }

  .Home-Start img {
    height: 100vh;
    width: 100%;
    object-fit: cover; 
    position: absolute; 
    left: 0;
  }

  .Bonjour{
    font-size: 0.8rem;
  }

  .Presentation-Text{
    font-size: 1.3rem;

  }



  /* --------------------------------- HEADER ---------------------------------*/
  /*
  .Header {
    display: none;

    position: sticky;
    top:0;
    width: 100%;
    height: 50px;
    font-size: 0.7rem;
    justify-content: space-evenly;  

  }



  .Header-Tile {
    display: none;
  }

  .Navbar {
    width: 100%;
    
}

  .Navbar-Item { 
    width: 100%;
    

  }


*/
/* ---------------------------------- BIO ---------------------------------- */
/*
.BackgroundTitle {
  font-size: 4.5rem;
}

.Bio-Rep {
  font-size: 1.3rem;
}

.Bio-Text {
  font-size: 0.9rem;
  padding: 0.5rem;
  padding-top: 10rem;
}

.Bio-Container {
}
*/

/* ------------------------------ COMPETENCE/SKILL ---------------------------------- */
/*
.Skill-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:1rem;
  
}

.Skill-Title {
  align-self: center;
  font-size: 1.3rem;
}

.Skill-Category {

}

.Skill-Full-Container {

}

.Skill-List-Container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}

.Skill-Container-Title {
  font-size: 0.7rem;
}

.Skill-Category {
  gap:0.2rem;
} 
.Skill-Scrolling-Container {
  padding: 0.1rem;

  max-height: 100 ;
  max-width: 70px;
  height: 100%;
  mask: none;
  -webkit-mask: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: visible;
}

.Skill-Scrolling-Content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  width: 6rem;

  gap: 0px;
  animation-fill-mode: forwards;
  animation: none;
  
}

.Skill-Logo-Container {
  height: 35px;
  width: 35px;
  font: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.Skill-Logo-Container img {
  overflow: hidden;
  width: 15px;
  height: 15px;
  border-radius: 2rem;
  object-fit: contain; 
  border: solid rgba(0, 0, 0, 0.664) 0.1px;
  background-color: white;
  
}

.Skill-Name {
  font-size: 0.4rem;
}

.List-2 {
  display: none;
}
*/

/* ------------------------------ PORTFOLIO ---------------------------------- */
/*
.Portfolio-Rep {
  font-size: 1.5rem;
}

.Portfolio-BackText {
  font-size: 3.3rem;
  top: 110px;
}

.Project-Hover {
  padding: 0.1rem;
  font-size: 0.75rem;
  
}
*/
/* ----------------------------------- CONTACT ---------------------------------- */
/*
.Contact {
  height: 35rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact-Title-Background {
  
  width: 100vw;
  font-size: 1.3rem; 
  left: 75%;

 

}

.Contact-Title {
  align-self: center;
  font-size: 0.5rem;

}

.Contact-Title-Container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  

.Contact-Container {
  padding: 1rem;

  width: 83.25%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Contact-Container input {
  height: 30px;
  border: solid black 1px;
  flex-grow: 1;
  border-radius: 1rem;

}

.Contact-Container textarea {
  padding: 1rem;
  border-radius: 1.5rem;
  height: 100px;
  width: 100%;
}



.Contact-Entete {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.Form-Container {
  display: flex;
  flex-direction: column;
  gap: rem;
 
}

.Contact-Email-Container, .Contact-Subject-Container, .Contact-Message-Container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0rem;

}

.Label-Form {
  width: px;
  gap: 2rem;
  
}

.Form-Title {
  width: 50px;
  font-family: 'Playfair Display', serif;
  font-size: 0.7rem;

}



.send-Mail-Container {
 align-self: flex-end;
}

*/


/* ------------------------------ COMPETENCE/SKILL ---------------------------------- */
/* ------------------------------ COMPETENCE/SKILL ---------------------------------- */
/* ------------------------------ COMPETENCE/SKILL ---------------------------------- */
/* ------------------------------ COMPETENCE/SKILL ---------------------------------- */
/* ------------------------------ COMPETENCE/SKILL ---------------------------------- */


@media screen and (max-width: 1400px) {


  .Home-Start {
    display: none;

  }

  .Skill-2 {
    display: none;
  }

.Section {
    display: none;
  }

  .Contact {
    display: none;
  }

  .Header {
    display: none;
  }      
  
  .Responsive {
    display: block;
    text-align: center;
    padding-top: 25%;
    font-size: 2rem;
  }

}