@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');

body {
  margin: 0;
}

.Bold {
  font-weight: 700;
  font-style: italic;
}

/* ---------------------------------- Page: HOME-START ---------------------------------- */

.Home-Start {
  position: relative;
  height: 917px;
  background-color: red;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.Presentation-Container {
  
  position: absolute; 
  z-index: 2; 
  color: white;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content; /* Cette propriété ajustera la largeur au contenu */
  min-width: 20rem; /* Ou fixez une largeur minimale */
  display: flex;
  flex-direction: column;
  gap: 3rem;

}

.Bonjour {
  font-style: bold;
  font-size: 1.2rem;
}

.Presentation-detail {
  font-style: italic;
}
/* ---------------------------------- Page: HOME START ---------------------------------- */


.Home-Start img {
  height: 917px;
  width: 100%;
  object-fit: cover; /* Cela garantit que l'image couvre l'espace disponible sans être déformée */
  position: absolute; /* Positionne l'image absolument par rapport à son parent positionné relativement */
  top: 0;
  left: 0;
}

.Home-Start h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.Cursor {
  opacity: 0;
  transition: opacity 0.5s;
}

.Cursor-active {
  opacity: 1;
}

.Cursor-active {
  animation: blink-cursor 1s steps(5, start) infinite;
}

.Presentation-Text {
  position: relative;
  font-size: 2.5rem;
}

.Text-to-Show {
  visibility: visible;
  z-index: 2;
}

.Text-hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap; /* Assurez-vous que le texte caché ne passe pas à la ligne */
}

/* Animation pour faire clignoter le curseur */
@keyframes blink-cursor {
  from {
    opacity: 1;
  }  
  to {
    opacity: 0;
  }  
}  


/* ---------------------------------- Page: HEADER ---------------------------------- */

.Header {
  border: solid black 1px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  font-size: 1.15rem;
  font-weight: 700;

  height: 50px;

}

.Navbar {
  

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.Navbar-Item {
  color: black;
  text-decoration: none;
  transition: color 0.5s;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Navbar-Item:hover {
  color: white;
  background-color: black;
}

/* ---------------------------------- Page: Bio ---------------------------------- */

.Bio {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Bio-Container {
  background-color: #F5F5F5 ;
  width: 93%;
  height: auto;
  margin-top: 50px;
  
}

.Bio-Title {
  
  position: relative; /* Position relative pour le conteneur parent */
  font-family: 'Votre police de caractères', sans-serif; /* Remplacez par votre police de caractères */
  color: #666; /* Couleur de police standard */
  text-align: center; /* Centrer le texte */
  margin-top: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  
}

.BackgroundTitle {
  font-size: 7rem; /* Taille de la police très grande pour l'arrière-plan */
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1); /* Couleur de police claire pour l'effet d'arrière-plan */
  position: absolute; /* Position absolue pour superposer */
  left: 50%; /* Centrer par rapport au parent */
  top: 50%; /* Centrer verticalement */
  transform: translate(-50%, -50%); /* Ajuster précisément le centre */
  margin: 0; /* Supprimer les marges par défaut */
  z-index: 1; /* z-index bas pour l'arrière-plan */
}

.Bio-Rep {
  z-index: 2; /* z-index plus élevé pour rester sur le texte d'arrière-plan */
  font-size: 2rem; /* Taille de la police pour le texte de premier plan */
  color: #333; /* Couleur de police plus foncée pour le texte de premier plan */

}

.Bio-Text {
  font-family: 'Playfair Display', serif;
  padding: 10rem;
  padding-top: 170px;
  font-size: 21px;
  text-indent: 50px;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ---------------------------------- Page: PORTFOGLIO ---------------------------------- */

.Portfolio {
  padding-top: 50px ;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Portfolio-Container {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: #F5F5F5 ;
  width: 85%;
  height: auto;

}

.Porfolio-Project-Container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  

  gap: 2rem;
}

.Porfolio-Project {
  box-shadow: 0 6px 16px 0 rgba(0,0,0,0.3); /* Ombre plus prononcée au survol */

  background-color: white;
  border: solid black 1px;
  height: 200px;
  width: 500px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 2.5rem;
}

.Porfolio-Project:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.473); /* Ombre plus prononcée au survol */


}
/* ---------------------------------- Page: Skill ---------------------------------- */
.Skill {
  
  height: 200px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2rem;
}

.Skill-List-Container {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

}


.Skill-Logo-Container img {
  padding: 0.2rem;
  height: 50px;
  width: 50px;
  border: solid rgba(0, 0, 0, 0.644) 1px;
  border-radius: 50%;
  transition: transform 1s, box-shadow 1s; /* Transition fluide */
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.5); /* Ombre constante sur le côté droit */
}

.Skill-Logo-Container img:hover {
  transform: rotate(360deg); /* Rotation de 360 degrés au survol */
}




.Skill-Title, .Skill-Container-Title {
  font-family: 'Kenia', sans-serif;
}

.Skill-Title {
  padding: 1rem;
  font-size: 1.8rem;
  border-bottom: solid black 1px;
}

.Skill-Container-Title {
  font-size: 1.3rem;
}

/* ---------------------------------- Page: HEADER ---------------------------------- */
/* ---------------------------------- Page: HEADER ---------------------------------- */
/* ---------------------------------- Page: HEADER ---------------------------------- */
/* ---------------------------------- Page: HEADER ---------------------------------- */
/* ---------------------------------- Page: HEADER ---------------------------------- */
/* ---------------------------------- Page: HEADER ---------------------------------- */
/* ---------------------------------- Page: HEADER ---------------------------------- */
/* ---------------------------------- Page: HEADER ---------------------------------- */









.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:1;
  overflow:hidden;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#f1f1f1;
  border-radius:50%;
  opacity:0.1;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}